@using TradeManager.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
       .Title{
        margin-top:50px;
        text-align:center;
       }
       .boxes{
           
           font-weight:bold;
           margin-left:37%;
       }

    </style>
<div class="Title">
    <h2>Welcome to Trade Manager</h2>
</div>

<div >
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Url.Content("~/Manage/Index") }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div style="margin-top:5px; margin-left:37%">
            @Html.LabelFor(m => m.Email)
        </div>
        <div class="col-md-10" style="margin-top:5px; margin-left:36%">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "")
        </div>
    </div>
        <div class="form-group">
            <div style="margin-top:0px; margin-left:37%">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="col-md-10" style="margin-top:5px; margin-left:36%">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "")
            </div>
        </div>
        <div class="form-group">
            <div>
                <div class="checkbox" style="margin-top:0px; margin-left:37%">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class=" col-md-10" style="margin-top:0px; margin-left:36%">
                <input type="submit" value="Log in" class="btn btn-default" />
            </div>
        </div>
    <p class="boxes-details" style="margin-top:0px; margin-left:37%">
        @Html.ActionLink("Register as a new user", "Register")
    </p>
        @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
    }
</div>
